<br>
<div class="jumbotron">
    <div class="container">
        <h1>Welkom bij CodeGenie!</h1>
        <p class>Hier kan je je opdrachten indienen. Selecteer een les uit de lijst</p>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Kies je les
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="les in lessons track by $index"><a class="btn-default" href="#/lessons/{{les._id}}/indienen">{{les.lesTitel}}</a></li>
            </ul>
        </div>
    </div>
</div>
<h1></h1>
</div>

<div class="row">
    <main class="col-xs-8">
        <div ng-view></div>
    </main>
</div>
<!--<script>
    $("select")
        .change(function() {
            var str = "";
            $("select option:selected").each(function() {
                str += $(this).text() + " ";
            });
            $("h1").text(str);
        })
        .change();

</script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
